.headerlink{
  padding: 30px 10px !important;
}

#loginbutton{
  float: right;
  font-size: 40px;
  position: relative;
  margin: 20px 10px;
}

#singinbutton{
  float: right;
  font-size: 40px;
  position: relative;
  margin-top: 20px;
}

h1 {
  text-shadow: 1px 1px #0404B4;
  text-align: center;
}

.home {
  text-align: center;
  font-size: 20px;
}

.form-control{
  align-self: center;
  width: 250px;
}

.rahmen{
  margin: 10px 200px;
  padding: 10px 10px;
  border-width: thick;
  border-style: inset;
  border-color: #0404B4;
}
