.headerlink{
  padding: 30px 10px !important;
}

#loginbutton{
  float: right;
  font-size: 43px;
  position: relative;
  margin-top: 20px;
}

h1 {
  font-style:normal;
  text-shadow: 1px 1px #0404B4;
}
